apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "20"
  name: logging-loki-secret
  namespace: openshift-logging
data:
  bucketnames: <bucketnames>
  endpoint: <endpoint>  
  aws_key_id: <key>
  aws_key_secret: <secret>
type: opaque